<div class="auth-container">
    <section class="auth-banner d-none d-sm-block position-relative">
       <div class="banner position-absolute text-center">
         <h4> Get  started for free & integrate in minutes </h4>
         <h1 class="fs-2 fw-bold"> Lets Shine Together </h1>
       </div>
    </section>
    <section class="auth-dyn-content position-relative">
        <div class="component-container position-absolute container w-100">
            <router-outlet></router-outlet>
        </div>
    </section>
</div>